body {
  font-family: sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  padding: 20px;
}

.logo {
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-github {
  font-size: 80px;
  margin: 0 20px;
}

#nav {
  width: fit-content;
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#nav button {
  width: 100px;
  height: 30px;
  padding: 3px;
  background-color: rgb(238, 237, 237);
  border: 1px solid black;
  border-radius: 7px;
}

a {
  text-decoration: none;
  border: none;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-right: 13px;
  padding-left: 13px;
  font-size: larger;
  letter-spacing: 3px;
}
a:visited {
  color: black;
}

#nav button:hover {
  border: 2px solid rgb(63, 178, 245);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px; 
}

.todo-section {
  display: grid;
  place-items: center;
  padding: 30px;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
  width: 45vw;
  justify-content: space-between;
  gap: 20px;
}

#new-task {
  flex: 1;
  padding: 5px;
  border: 1px solid rgb(59, 59, 59);
  border-radius: 20px;
  height: 20px;
  text-align: center;
  font-weight: 600;
}

#new-task:hover {
  box-shadow: 0 0 7px gray;
}

#add-task {
  border: none;
  height: 30px; 
  width: 60px;
  border-radius: 20px;
  background-color: #1679ee;
  color: white;
  cursor: pointer;
}

#add-task:hover {
  border: 2px solid rgb(63, 178, 245);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#todo-list {
  list-style: none;
  padding: 0;
}

#todo-list li {
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

#todo-list li input[type="checkbox"] {
  cursor: pointer;
}

#todo-list li label {
  flex: 1;
}
